@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Nanum+Myeongjo&family=Playfair+Display&family=Poppins:wght@100&family=Raleway:wght@100&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body
{
    background: rgba(72, 60, 237, 0.7); /*url(mkv.jpg);*/
 /*   color: #fff;*/
    position: relative;
 
}

.b-home{
  background: rgba(0, 0, 0, 7.1) url(mkv.jpg);
}

/*.imging{
  background:rgba(72, 60, 237, 0.7) url(mkv.jpg);
}*/
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar-menu a{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 13px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar-menu a:hover,
.navbar-menu a.active{
    color: #0ef;
}

.burger
{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line
{
    width: 33px;
    background-color: rgba(255, 255, 255, 0.432);
    height: 4px;
    margin: 3px 3px;
}


.home
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;   
}

.home-content
{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    color: antiquewhite;
    font-weight: 700;
    animation: slidebuttom 1s ease forwards;
    animation-delay: .77s;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .77s;
}

.home-content h3 span {
    color: #8fc;

}

.home-content h1{
    font-size: 56px;
    color: antiquewhite;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .77s;
}

.home-content p{
    font-size: 18px;
    color: #058ef0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .77s;
}

.home-img img{
    width: 400px;
    margin-right: 0px;
    border: #8819a5;
    border-radius: 61px;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite ;
    animation-delay: 2s 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #8fc;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s* var(--i));
}


.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}


.btn {
  display: inline-block;
  pad: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}


.wrapper {
    width: 950px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    margin: 0 auto;
    position: relative;

}


/*.box profile-img img{
    width: 255px;
}*/

.round-1{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 14em;
    height: 14em;
    border-radius: 50%;
    box-shadow: 0 0 40px #d84869;
    background: linear-gradient(-24deg, #d84869, #f46641);
}

.round-2 {
    position: absolute;
    top: 50%;
    right: 4%;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5622ff;
    background: linear-gradient(-180deg, #5622ff, #4170fd);
}

.round-3 {
    position: absolute;
    top: 55%;
    left: 40%;
    width: 14em;
    height: 14em;
    border-radius: 40%;
    box-shadow: 0 0 40px #596793;
    background: linear-gradient(-24deg, #0077b3, #ec2f00);
}

.boxs{
    width: 350px;
    height: 350px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff2d;
    padding: 1.5em;
    border-radius: 25px;
    border: 2px solid #0000002a;
    text-align: center;
    backdrop-filter: blue(20px);
    animation: slidezoomIn 1s ease forwards;
    animation-delay: 2s
}




.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.profile-img img{
    width: 100%;
   /* overflow-clip-margin: content-box;
    overflow: clip;*/
}

.box h2 {
    color: #000000;
    text-transform: uppercase;
    margin: 15px 0;

}

.box p{
    color: #000000;
    font-size: 14px;
}

.socials{
    margin-top: 35px;

}

.socials i{
    margin: 0 10px;
    font-size: 25px;
}

/* yahn se about sec start*/

footer{
    position: relative;
    background: #140B5C;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;         
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 8px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #0F0844;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }


  /*important area */

  .data{
    display: none;
  }
 
.g-sigin2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}










/*animation wala hai do not remove this area */

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}



@keyframes slidebuttom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes  floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}



/*mobile ke hisab se ready karna hai yahn do not touch this area*/




@media (max-width: 940px) {

    .navbar-menu{
        display: none;
    }
    
  .home-img img {
    width: 480px;
    position: absolute;
    top: 40px;
    right: 0px;
  }

  footer .content .link-boxes{
    flex-wrap: wrap;
    position: relative;
  }
  footer .content .link-boxes .input-box{
    width: 50%;
    margin-top: 10px;
  }
 

.wrapper {
  width: 798px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
  margin: 0 auto;
  position: rel
}

  .boxs{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 673px;
}
  
  .round-1{       
    position: absolute;
    top: 44%;
    left: 10%;

  }
  .round-2{       
    position: absolute;
    top: 45%;
    left: 54%;
    }
    .round-3{       
      position: absolute;
      top: 55%;
      left: 17%;
      }
      .boxs {
        margin-bottom: 30px;
        width: 300px;
        height: 382px;
    }
    .home-content h1 {
      font-size: 32px;
    }
  }
@media (max-width: 790px){

    .navbar-menu a{

        display: none;
    }
    
    .home-img img {
      width: 297px;
      position: absolute;
      top: 150px;
      right: 10px;
  }
  .burger {
    display: block;
}
.wrapper {
  width: 589px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  min-height: 60vh;
  margin: 0 auto;
  position: rel;
  flex-direction: column;
}
.boxs {
  margin-bottom: 70px;
  width: 500px;
  height: 500px;
}

  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
    position: relative;
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
  .round-1{       
    position: absolute;
    top: 30%;
    left: 10%;
    }
    .round-2{       
      position: absolute;
      top: 45%;
      left: 10%;
      }
      .round-3{       
        position: absolute;
        top: 52%;
        left: 17%;
        }
  
.home-content h1 {
  font-size: 32px;
}
}
@media (max-width: 540px){
    .navbar-menu{
        display: block;
    }
    
  .home-img img {
    width: 220px;
    position: absolute;
    top: 17px;
    right: 40px;
}

  footer::before{
    top: 100%;
  }
  footer .content .top{
    flex-direction: column;
    position: relative;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }

  .wrapper {
    width: 390px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    min-height: 60vh;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}


  .header{
    position: relative;
  }
  .home{
    position: relative;
  }

  .round-1{       
    position: absolute;
    top: 30%;
    left: 10%;
    }
    .round-2{       
      position: absolute;
      top: 40%;
      left: -6%;
    }
      .round-3{       
        position: absolute;
        top: 52%;
        left: 25%;
        }
  .boxs {
    margin-bottom: 30px;
    width: 300px;
    height: 382px;
}
.home-content h1 {
  font-size: 32px;}

}

@media (max-width: 390px){
    .navbar-menu{
        display: block;
    }
    .social-media a{
      margin: 30px 15px 30px -10px;
    }
  .home-img img {
    width: 119px;
    position: absolute;
    top: 0px;
    right: 25px;
}


.wrapper {
  width: 300px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  min-height: 60vh;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

  .boxs{
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
  }
  .box h2{
    font-size: 15px;
  }
  .box p{
    font-size: 10px;
  }
  .box i{
    font-size: 15px;
  }
  .boxs {
    margin-bottom: 30px;
    width: 300px;
    height: 382px;
}
.home-content h1 {
  font-size: 32px;
}
}














